input[type="text"],
input[type="password"] {
  border: 4px solid black;
  background-color: transparent;
  font-size: 16px;
  padding: 20px;
  /* border: 1px solid #424242; */
  /* border-radius: 20px; */
  /* #424242 */
}

.select-input {
  padding: 15.5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.form-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-flex {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 50%;
}

.header-text {
  color: black;
  border-bottom: 1px solid #d8d8d8;
}

.last-input {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 100%;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
}

.form-div {
  width: 70%;
  /* background-color: white; */
  border-radius: 25px;
  padding: 70px 50px 50px 50px;
}

@media screen and (max-width: 1200px) {
  .form-div {
    width: 90%;
    padding: 70px 10px 50px 10px;
  }
  .header-text {
    color: black;
    border-bottom: 1px solid #d8d8d8;
    font-size: 30px;
  }
  .input-flex {
    width: 100%;
  }
  .select-input {
    padding: 10.5px;
  }
  input[type="text"],
  input[type="password"] {
    padding: 15px;
  }
  .form-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .form-contain {
    margin-top: -10px;
  }
}
