input[type="text"],
input[type="password"] {
  border: 4px solid black;
  background-color: transparent;
  /* border: 1px solid #424242; */
  /* border-radius: 20px; */

  /* #424242 */
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.form-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-flex {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 50%;
}

.header-text {
  color: black;
  border-bottom: 1px solid #d8d8d8;
}

.last-input {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 100%;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
}

.form-div {
  width: 70%;
  /* background-color: white; */
  border-radius: 25px;
  padding: 70px 50px 50px 50px;
}
