.header-labels {
  background-color: #55d1c5;
  height: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  color: black;
  margin-bottom: 15px;
  color: white;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customer {
  /* height: 50px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  color: black;
  margin-bottom: 10;
  color: #636161;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 1150px) {
  .customer {
    padding: 10px 5px;
    justify-content: space-around;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;

    /* justify-content: none; */
  }
  .header-labels {
    display: none;
  }
  h4 {
    margin: 3px;
  }
}
