.App {
  background-color: "white";
  min-height: 100vh;

  color: white;
}

.App-header {
  background-color: "white";
  min-height: 100vh;
  display: flex;
  color: white;
}

.header-title {
  align-self: flex-start;
  color: #636161;
  margin-top: 40px;
}

.container {
  margin-top: -15px;
  background-color: "white";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

